.footer {
    background-color: #f7ece1;
    padding: 38px 0;

    &__row {
        @extend %flexSpaceB;
    }

    &__copyright {
        opacity: 0.3;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        text-align: left;
        color: #333;
    }

    &__nav {
        @extend %flexCenter;
    }

    &__menu {
        @extend %flexCenter;

        li {
            margin-right: 40px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__link {
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        text-align: left;
        color: #333;
    }

    &__social {
        @extend %flexCenter;
        li {
            margin-right: 22px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__icon {
        display: block;
        width: 36px;
        height: 36px;
        background: url("../img/Vector.svg") no-repeat center center;
    }
}
.container {
}
